<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> alta de categoría</title>
    
    <link rel="stylesheet" href="miproyecto/assets/css/styles.css">
    <!-- Agrega tus estilos CSS aquí -->
    
</head>




<center>

<body>

    <div class="flex-center">
        <div id="fondo" class="flex-center">
            
        </div>


    </div>

    <h1>alta de categorías</h1>
    <from action="mailto:kns040@gmail.com" method="POST">

        <label for="id_prodcutos">id del producto:</label><br>
        <input type="number" id="id_prodcutos" name="id_prodcutos" required>
        <br><br>
        <label for="categoryname">Nombre de la categoria:</label><br>
        <input type="text" id="categoryname" name="categoryname" required>
        <br><br>
        <label for="categoryDescripcion">Nombre de la categoria:</label><br>
        <textarea id="categoryDescripcion" name="categoryDescripcion" rows="4" cols="50"></textarea>
        <br><br>
        <input type="submit" value="guardar">
        <input type="submit"  value="cancelar"> <br><br>

        <h2>D.Obando</h2>


    </from>
</body>
</center>
</html>